@model IEnumerable<_20_MVC_Assignment_01.Models.Tweet>

<h4>Tweets</h4>
<table class="table table-responsive table-bordered">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created)
            </td>
            <td >
                @Html.ActionLink("Edit", "Edit", "TwitterHome", new { id = item.tweet_id }, null) |
                @Html.ActionLink("Delete", "Delete", "TwitterHome", new { id = item.tweet_id }, null)
            </td>
        </tr>
    }
</table>
